

body{
    background-color:black;
}

.container{
    background-color:lightgray;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    margin-top: 10%;
    border-radius: 5px;
}

input{
    padding: 5px;
    width: 90%;
    margin: 1em;
}

label{
    margin: 1em;
    font-size: large;
    font-weight: bold;
}

h1{
    text-align: center;
    margin: 1em;
    margin-top: 20px;
    color: blue;
}

button{
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    width: 30%;
    font-weight: bold;
    font-size: large;
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

button:hover{
    background-color: green;
    cursor: pointer;
}

button:disabled{
    background-color: grey;
}







